body{
    background-color: #0C2340;
    color:#FC4C02;
}

.container{
     background-color:#FC4C02;
     color:white;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color:#FC4C02;
}


li a{
    color:#FC4C02;
}